VITE_FIREBASE_API_KEY=AIzaSyBxMZK6C_cWVA5jTR8SUaMAvhbGbA6LlpU
VITE_FIREBASE_AUTH_DOMAIN=fintrack-e8023.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fintrack-e8023
VITE_FIREBASE_APP_ID=1:912084243078:web:c0438a2b031d843839b707
